body{
    font-family:Consolas;
}

.ln{ /*line number*/
    color:#404040;
    background-color:#E0E0E0;
    padding-left:0.5em;
    padding-right:0.5em;
    margin-right:0.5em;
}

.id{ /*identifier*/
    color:#313131;
}

.kw{ /*keyword*/
    color:#0080FF;
}

.ut{ /*user type*/
    color:#0080FF;
}

.et{ /*external type*/
    color:#0080FF;
    font-style:italic;
}

.es{ /*external scope*/
    color:#0080FF;
    font-style:italic;
}

.fn{ /*method*/
    color:#FF0000;
}

.m{ /*macro*/
    color:#800080;
}

.k{ /*constants*/
    color:#FF8000;
}

.s{ /*string*/
    color:#00A000;
}

.c{ /*comment*/
    color:#00A000;
}

.ch{ /*character*/
    color:#00A000;
}

.p{ /*preprocessor*/
    color:#0000FF;
}